{% extends 'layout/portal_layout.html' %}
{% block title %}
    {{ object.patient.full_name }}
{% endblock %}
{% block page_title %}
    {{ object.patient.full_name }}
{% endblock %}
{% block content %}
    <div class="row">
        {% if object.bill_type == 'WB' %}
            <div class="col-8">
                <div class="list-group-flush">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">Date admitted</div>
                            <div class="col" align="right">{{ object.patient.date_admitted }}</div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">{% if object.status == 1 %}Date discharged{% else %}Date to be discharged{% endif %}</div>
                            <div class="col" align="right">{% if object.status == 1 %}{{ object.patient.date_discharged }}{% else %}{{ date_to_be_discharged }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">Number of days</div>
                            <div class="col" align="right">{% if object.status == 1 %}{{ days_spent }}{% else %}{{ number_of_days }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">Amount per day</div>
                            <div class="col" align="right">{{ amount_per_day }}</div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">{% if object.status == 1 %}Amount paid{% else %}Total amount to be paid{% endif %}</div>
                            <div class="col" align="right">{% if object.status == 1 %}{{ object.amount }}{% else %}{{ total_amount }}{% endif %}</div>
                        </div>
                    </div>
                </div>
                {% if object.status == 0 %}
                    <a href="{% url 'portal:confirm-discharge' object.uuid %}" class="btn btn-sm btn-success" type="submit">Confirm payment</a>
                {% endif %}
            </div>
        {% else %}
            <div class="col-8">
                <div class="list-group-flush">
                    {% for med in object.prescription.medicines.all %}
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col">{{ med.medicine.name }}</div>
                                <div class="col" align="right">GHS {{ med.amount }}</div>
                            </div>

                        </div>
                    {% endfor %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col" align="right"><strong>Total: </strong></div>
                            <div class="col"><strong>{{ object.prescription.total }}</strong></div>
                        </div>
                    </div>
                </div>
                {% if object.status == 0 %}
                    <a href="{% url 'portal:confirm-prescription' object.uuid %}" class="btn btn btn-sm btn-success">Confirm Payment</a>
                {% endif %}

            </div>
        {% endif %}
        {% if object.status == 1 %}
            <div class="card col-2 ">
                <div class="card-header">
                    <h3>Ai Hospital</h3>
                    <h6>Wl 395/1 Cp</h6>
                    <p><small>0500009650</small></p>
                </div>
                <div class="card-body">
                    {% if object.bill_type == 'PhB' %}
                        <table class="table table-bordered table-responsive table-sm">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for med in object.prescription.medicines.all %}
                                <tr>
                                    <td>{{ med.medicine.name }}</td>
                                    <td>{{ med.amount }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td><strong>Total: </strong></td>
                                <td><strong>GHS {{ object.prescription.total }}</strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    {% else %}
                        <table class="table-bordered table-responsive table-sm">
                            <thead>
                            <tr>
                                <th>Patient name</th>
                                <th>Date admitted</th>
                                <th>Date discharged</th>
                                <th>Number of days</th>
                                <th>Amount per day</th>
                                <th>Total Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ object.patient.full_name }}</td>
                                <td>{{ object.patient.date_admitted }}</td>
                                <td>{{ object.patient.date_discharged }}</td>
                                <td>{{ object.number_of_days }}</td>
                                <td>{{ amount_per_day }}</td>
                                <td>GHS {{ object.amount }} </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                    <p>This receipt was issued by user</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block btn %}
    {% if object.status == 1 %}
        <a href="" class="btn btn-sm btn-success">
            <i class="fa fa-print"></i>Print
        </a>
    {% endif %}
{% endblock %}