{% extends 'layout/portal_layout.html' %}
{% block bill %}
    active
{% endblock %}
{% block title %}
    {{ object.full_name }}
{% endblock %}
{% block page_title %}
    {{ object.full_name }}
{% endblock %}
{% block btn %}
    <button onclick="printDiv('id_card')" class="btn btn-sm btn-info">Print <i class="fa fa-print"></i></button>
{% endblock %}
{% block content %}
    <div class="row" id="id_card">
        <div class="col-4">
            <div class="card border-dark">
                <div class="card-body">
                    <p><h3 style="color: blue">Ai Hospital- Patient Card</h3></p>
                    <p>ID: {{ object.patient_id }}</p>
                    <p>Full name: {{ object.full_name }}</p>
                    <p>Gender: {{ object.gender }}</p>
                    <p>DOB: {{ object.date_of_birth }}</p>
                    <p>Date issued: {{ object.created_at }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock %}