{% extends 'layout/admin_layout.html' %}
{% load humanize %}
{% load bootstrap4 %}
{% block req %}active{% endblock %}
{% block title %}New Leave Period{% endblock %}
{% block page_title %}New Leave Period{% endblock %}
{% block acc %}active{% endblock %}
{% block content %}
    <form method="post" action="">
    {% csrf_token %}
        {% bootstrap_form form %}
        <div>
            <button class="btn sm btn-info btn-block" type="submit">Create</button>
        </div>
    </form>
{% endblock %}