{% extends 'layout/admin_layout.html' %}
{% load humanize %}
{% block req %}active{% endblock %}
{% block title %}Requests{% endblock %}
{% block page_title %}Requests{% endblock %}
{% block acc %}active{% endblock %}
{% block content %}
    <div class="list-group-flush">
        {% for req in object_list %}
            <div class="list-group-item list-group-item-action flex-column align-item-start {% if req.status == 0 %}border-left-primary{% elif req.status == 1 %}border-left-success{% else %}border-left-danger{% endif %}">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ req.department }}</h5>
                    <small>{{ req.created_at | naturalday}}</small>
                </div>
                <p>{{ req.description }}</p>
                <div class="row">
                    <div class="col-11">
                        {% if req.comments %}
                            Comments: {{ req.comments }}
                        {% endif %}
                    </div>
                    <div class="col-1">
                        {% if req.status == 0 %}
                            <a href="{% url 'management:change-request-status' req.id %}" class="btn btn-sm btn-outline-dark" title="Approve">
                                <i class="fa fa-check text-primary"></i>
                            </a>
                        <button class="btn btn-sm btn-outline-dark" title="Reject" type="button" data-toggle="collapse" data-target="#cancelRequest{{ req.id }}" aria-expanded="false" aria-controls="cancelRequest{{ req.id }}" >
                            <i class="fa fa-ban text-danger"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="collapse multi-collapse" id="cancelRequest{{ req.id }}">
                    <form action="{% url 'management:change-request-status' req.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_comment">Comment</label>
                            <textarea required name="comment" id="id_comment" placeholder="Enter your comments here..." cols="30" rows="3" class="form-control"></textarea>
                        </div>
                        <input type="submit" value="Reject" class="btn btn-sm btn-block btn-danger">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}